In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from ucimlrepo import fetch_ucirepo
student_performance = fetch_ucirepo(id=320)

In [5]:
X = student_performance.data.features 
y = student_performance.data.targets

In [6]:
X.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,4
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,6
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,0

In [7]:
X["school"].unique()

array(['GP', 'MS'], dtype=object)

In [8]:
X["school"].value_counts()

school
GP    423
MS    226
Name: count, dtype: int64

In [9]:
X["school"].isna().sum()

np.int64(0)

In [10]:
X = pd.get_dummies(X, columns=["school"])
X.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,school_GP,school_MS
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,no,4,3,4,1,1,3,4,True,False
1,F,17,U,GT3,T,1,1,at_home,other,course,...,no,5,3,3,1,1,3,2,True,False
2,F,15,U,LE3,T,1,1,at_home,other,other,...,no,4,3,2,2,3,3,6,True,False
3,F,15,U,GT3,T,4,2,health,services,home,...,yes,3,2,2,1,1,5,0,True,False
4,F,16,U,GT3,T,3,3,other,other,home,...,no,4,3,2,1,2,5,0,True,False

In [11]:
X = pd.get_dummies(X, columns=["sex"])
X.head()

,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,...,freetime,goout,Dalc,Walc,health,absences,school_GP,school_MS,sex_F,sex_M
0,18,U,GT3,A,4,4,at_home,teacher,course,mother,...,3,4,1,1,3,4,True,False,True,False
1,17,U,GT3,T,1,1,at_home,other,course,father,...,3,3,1,1,3,2,True,False,True,False
2,15,U,LE3,T,1,1,at_home,other,other,mother,...,3,2,2,3,3,6,True,False,True,False
3,15,U,GT3,T,4,2,health,services,home,mother,...,2,2,1,1,5,0,True,False,True,False
4,16,U,GT3,T,3,3,other,other,home,father,...,3,2,1,2,5,0,True,False,True,False

In [12]:
X = pd.get_dummies(X, columns=["address"])
X.head()

,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,...,Dalc,Walc,health,absences,school_GP,school_MS,sex_F,sex_M,address_R,address_U
0,18,GT3,A,4,4,at_home,teacher,course,mother,2,...,1,1,3,4,True,False,True,False,False,True
1,17,GT3,T,1,1,at_home,other,course,father,1,...,1,1,3,2,True,False,True,False,False,True
2,15,LE3,T,1,1,at_home,other,other,mother,1,...,2,3,3,6,True,False,True,False,False,True
3,15,GT3,T,4,2,health,services,home,mother,1,...,1,1,5,0,True,False,True,False,False,True
4,16,GT3,T,3,3,other,other,home,father,1,...,1,2,5,0,True,False,True,False,False,True

In [13]:
X = pd.get_dummies(X, columns=["famsize"])
X.head()

,age,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,...,health,absences,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3
0,18,A,4,4,at_home,teacher,course,mother,2,2,...,3,4,True,False,True,False,False,True,True,False
1,17,T,1,1,at_home,other,course,father,1,2,...,3,2,True,False,True,False,False,True,True,False
2,15,T,1,1,at_home,other,other,mother,1,2,...,3,6,True,False,True,False,False,True,False,True
3,15,T,4,2,health,services,home,mother,1,3,...,5,0,True,False,True,False,False,True,True,False
4,16,T,3,3,other,other,home,father,1,2,...,5,0,True,False,True,False,False,True,True,False

In [14]:
X = pd.get_dummies(X, columns=["Pstatus"])
X.head()

,age,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,...,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T
0,18,4,4,at_home,teacher,course,mother,2,2,0,...,True,False,True,False,False,True,True,False,True,False
1,17,1,1,at_home,other,course,father,1,2,0,...,True,False,True,False,False,True,True,False,False,True
2,15,1,1,at_home,other,other,mother,1,2,0,...,True,False,True,False,False,True,False,True,False,True
3,15,4,2,health,services,home,mother,1,3,0,...,True,False,True,False,False,True,True,False,False,True
4,16,3,3,other,other,home,father,1,2,0,...,True,False,True,False,False,True,True,False,False,True

In [15]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()

In [16]:
Mjob_new = encoder.fit_transform(X[["Mjob"]])

In [17]:
X.loc[:, "Mjob"] = Mjob_new

In [18]:
X.head()

,age,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,...,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T
0,18,4,4,0.0,teacher,course,mother,2,2,0,...,True,False,True,False,False,True,True,False,True,False
1,17,1,1,0.0,other,course,father,1,2,0,...,True,False,True,False,False,True,True,False,False,True
2,15,1,1,0.0,other,other,mother,1,2,0,...,True,False,True,False,False,True,False,True,False,True
3,15,4,2,1.0,services,home,mother,1,3,0,...,True,False,True,False,False,True,True,False,False,True
4,16,3,3,2.0,other,home,father,1,2,0,...,True,False,True,False,False,True,True,False,False,True

In [19]:
X.loc[:, "Fjob"] = encoder.fit_transform(X[["Fjob"]])

In [20]:
X.head()

,age,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,...,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T
0,18,4,4,0.0,4.0,course,mother,2,2,0,...,True,False,True,False,False,True,True,False,True,False
1,17,1,1,0.0,2.0,course,father,1,2,0,...,True,False,True,False,False,True,True,False,False,True
2,15,1,1,0.0,2.0,other,mother,1,2,0,...,True,False,True,False,False,True,False,True,False,True
3,15,4,2,1.0,3.0,home,mother,1,3,0,...,True,False,True,False,False,True,True,False,False,True
4,16,3,3,2.0,2.0,home,father,1,2,0,...,True,False,True,False,False,True,True,False,False,True

In [21]:
pd.options.display.max_columns = 0

In [22]:
X.loc[:, "reason"] = encoder.fit_transform(X[["reason"]])
X.loc[:, "guardian"] = encoder.fit_transform(X[["guardian"]])

In [23]:
X=X.drop("schoolsup", axis=1)

In [24]:
X=X.drop(columns=["famsup"], axis=1)

In [25]:
X=X.drop(columns=["paid", "activities", "nursery", "higher", "internet", "romantic"], axis=1)

In [26]:
X.head()

   age  Medu  Fedu Mjob  ... famsize_GT3 famsize_LE3 Pstatus_A  Pstatus_T
0   18     4     4  0.0  ...        True       False      True      False
1   17     1     1  0.0  ...        True       False     False       True
2   15     1     1  0.0  ...       False        True     False       True
3   15     4     2  1.0  ...        True       False     False       True
4   16     3     3  2.0  ...        True       False     False       True

[5 rows x 27 columns]

In [27]:
y = y[["G1"]]
y.head()

   G1
0   0
1   9
2  12
3  14
4  11

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_resto = train_test_split(X, test_size=0.2, random_state=42)
X_val, X_test = train_test_split(X_resto, test_size=0.5, random_state=42)
#train: 80%
#val: 10%
#test: 10%
X_train.shape, X_val.shape, X_test.shape

((519, 27), (65, 27), (65, 27))

In [29]:
y_train, y_resto = train_test_split(y, test_size=0.2, random_state=42)
y_val, y_test = train_test_split(y_resto, test_size=0.5, random_state=42)
y_train = np.reshape(y_train, -1)
y_val = np.reshape(y_val, -1)
y_test = np.reshape(y_test, -1)
y_train.shape, y_val.shape, y_test.shape

((519,), (65,), (65,))

In [30]:
#Posibilidades de "tuneo" (personalizacion):
#lineal
#poly degree=[2, 10]

#epsilon = [0.1, 1.5]
#penalty (C) = [0.1, 100]

In [32]:
from sklearn.svm import LinearSVR
from sklearn.svm import SVR

In [40]:
grados = [1, 2, 3, 5, 6, 8, 10]
epsilons = [0.1, 0.25, 0.5, 1, 1.5]
penalidades = [0.1, 1, 5, 10, 25, 50, 100]

resultadosL = []
for g in grados:
    for e in epsilons:
        for c in penalidades:
            print("Modelo: grado={}, epsilon={}, C={}".format(g, e, c), end=" - ")
            if(g == 1):
                modelo = LinearSVR(C=c, epsilon=e, max_iter=2000)
            else:
                modelo = SVR(kernel="poly", degree=g, C=c, epsilon=e)
            modelo.fit(X_train, y_train)
            
            y_pred = modelo.predict(X_val)
            
            rmse = np.sqrt(np.mean(np.square(y_val - y_pred)))
            nrmse = (rmse / (y_train.max() - y_train.min())) * 100
            print("Validation NRMSE:", round(nrmse,4), '%')
            
            resultadosL.append({"model":modelo, "Validation NRMSE":nrmse})

Modelo: grado=1, epsilon=0.1, C=0.1 - Validation NRMSE: 13.96 %
Modelo: grado=1, epsilon=0.1, C=1 - Validation NRMSE: 14.1838 %
Modelo: grado=1, epsilon=0.1, C=5 - Validation NRMSE: 14.5332 %
Modelo: grado=1, epsilon=0.1, C=10 - Validation NRMSE: 14.3081 %
Modelo: grado=1, epsilon=0.1, C=25 - Validation NRMSE: 14.602 %
Modelo: grado=1, epsilon=0.1, C=50 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 19.6343 %
Modelo: grado=1, epsilon=0.1, C=100 - Validation NRMSE: 14.8433 %
Modelo: grado=1, epsilon=0.25, C=0.1 - Validation NRMSE: 14.1374 %
Modelo: grado=1, epsilon=0.25, C=1 - Validation NRMSE: 14.184 %
Modelo: grado=1, epsilon=0.25, C=5 - Validation NRMSE: 14.3265 %
Modelo: grado=1, epsilon=0.25, C=10 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 16.702 %
Modelo: grado=1, epsilon=0.25, C=25 - Validation NRMSE: 24.0364 %
Modelo: grado=1, epsilon=0.25, C=50 - Validation NRMSE: 16.0284 %
Modelo: grado=1, epsilon=0.25, C=100 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 15.6743 %
Modelo: grado=1, epsilon=0.5, C=0.1 - Validation NRMSE: 14.2624 %
Modelo: grado=1, epsilon=0.5, C=1 - Validation NRMSE: 14.2994 %
Modelo: grado=1, epsilon=0.5, C=5 - Validation NRMSE: 14.5097 %
Modelo: grado=1, epsilon=0.5, C=10 - Validation NRMSE: 14.1893 %
Modelo: grado=1, epsilon=0.5, C=25 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 14.5893 %
Modelo: grado=1, epsilon=0.5, C=50 - Validation NRMSE: 15.7021 %
Modelo: grado=1, epsilon=0.5, C=100 - Validation NRMSE: 17.2619 %
Modelo: grado=1, epsilon=1, C=0.1 - Validation NRMSE: 14.4875 %
Modelo: grado=1, epsilon=1, C=1 - Validation NRMSE: 14.4937 %
Modelo: grado=1, epsilon=1, C=5 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 14.3682 %
Modelo: grado=1, epsilon=1, C=10 - Validation NRMSE: 14.5389 %
Modelo: grado=1, epsilon=1, C=25 - Validation NRMSE: 18.6886 %
Modelo: grado=1, epsilon=1, C=50 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 15.5475 %
Modelo: grado=1, epsilon=1, C=100 - Validation NRMSE: 18.7941 %
Modelo: grado=1, epsilon=1.5, C=0.1 - Validation NRMSE: 14.5461 %
Modelo: grado=1, epsilon=1.5, C=1 - Validation NRMSE: 14.5022 %
Modelo: grado=1, epsilon=1.5, C=5 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 16.3238 %
Modelo: grado=1, epsilon=1.5, C=10 - Validation NRMSE: 14.7692 %
Modelo: grado=1, epsilon=1.5, C=25 - Validation NRMSE: 14.9534 %
Modelo: grado=1, epsilon=1.5, C=50 - Validation NRMSE: 15.9163 %
Modelo: grado=1, epsilon=1.5, C=100 -

C:\Users\ronal\anaconda3\envs\UCA_ML\lib\site-packages\sklearn\svm\_base.py:1235: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Validation NRMSE: 15.7355 %
Modelo: grado=2, epsilon=0.1, C=0.1 - Validation NRMSE: 15.5208 %
Modelo: grado=2, epsilon=0.1, C=1 - Validation NRMSE: 15.2168 %
Modelo: grado=2, epsilon=0.1, C=5 - Validation NRMSE: 14.7566 %
Modelo: grado=2, epsilon=0.1, C=10 - Validation NRMSE: 14.585 %
Modelo: grado=2, epsilon=0.1, C=25 - Validation NRMSE: 14.6184 %
Modelo: grado=2, epsilon=0.1, C=50 - Validation NRMSE: 14.6622 %
Modelo: grado=2, epsilon=0.1, C=100 - Validation NRMSE: 14.691 %
Modelo: grado=2, epsilon=0.25, C=0.1 - Validation NRMSE: 15.4805 %
Modelo: grado=2, epsilon=0.25, C=1 - Validation NRMSE: 15.0702 %
Modelo: grado=2, epsilon=0.25, C=5 - Validation NRMSE: 14.8286 %
Modelo: grado=2, epsilon=0.25, C=10 - Validation NRMSE: 14.7615 %
Modelo: grado=2, epsilon=0.25, C=25 - Validation NRMSE: 14.5578 %
Modelo: grado=2, epsilon=0.25, C=50 - Validation NRMSE: 14.6723 %
Modelo: grado=2, epsilon=0.25, C=100 - Validation NRMSE: 14.8647 %
Modelo: grado=2, epsilon=0.5, C=0.1 - Validation NRMSE: 15.4729 %
Modelo: grado=2, epsilon=0.5, C=1 - Validation NRMSE: 15.0083 %
Modelo: grado=2, epsilon=0.5, C=5 - Validation NRMSE: 14.8354 %
Modelo: grado=2, epsilon=0.5, C=10 - Validation NRMSE: 14.6831 %
Modelo: grado=2, epsilon=0.5, C=25 - Validation NRMSE: 14.6384 %
Modelo: grado=2, epsilon=0.5, C=50 - Validation NRMSE: 14.7394 %
Modelo: grado=2, epsilon=0.5, C=100 - Validation NRMSE: 14.9517 %
Modelo: grado=2, epsilon=1, C=0.1 - Validation NRMSE: 15.4683 %
Modelo: grado=2, epsilon=1, C=1 - Validation NRMSE: 14.8896 %
Modelo: grado=2, epsilon=1, C=5 - Validation NRMSE: 14.5578 %
Modelo: grado=2, epsilon=1, C=10 - Validation NRMSE: 14.4462 %
Modelo: grado=2, epsilon=1, C=25 - Validation NRMSE: 14.4237 %
Modelo: grado=2, epsilon=1, C=50 - Validation NRMSE: 14.5167 %
Modelo: grado=2, epsilon=1, C=100 - Validation NRMSE: 14.8007 %
Modelo: grado=2, epsilon=1.5, C=0.1 - Validation NRMSE: 15.4633 %
Modelo: grado=2, epsilon=1.5, C=1 - Validation NRMSE: 15.0723 %
Modelo: grado=2, epsilon=1.5, C=5 - Validation NRMSE: 14.4424 %
Modelo: grado=2, epsilon=1.5, C=10 - Validation NRMSE: 14.4255 %
Modelo: grado=2, epsilon=1.5, C=25 - Validation NRMSE: 14.4065 %
Modelo: grado=2, epsilon=1.5, C=50 - Validation NRMSE: 14.5832 %
Modelo: grado=2, epsilon=1.5, C=100 - Validation NRMSE: 14.6639 %
Modelo: grado=3, epsilon=0.1, C=0.1 - Validation NRMSE: 15.3776 %
Modelo: grado=3, epsilon=0.1, C=1 - Validation NRMSE: 15.0685 %
Modelo: grado=3, epsilon=0.1, C=5 - Validation NRMSE: 15.1146 %
Modelo: grado=3, epsilon=0.1, C=10 - Validation NRMSE: 15.5458 %
Modelo: grado=3, epsilon=0.1, C=25 - Validation NRMSE: 15.6832 %
Modelo: grado=3, epsilon=0.1, C=50 - Validation NRMSE: 16.2003 %
Modelo: grado=3, epsilon=0.1, C=100 - Validation NRMSE: 16.8225 %
Modelo: grado=3, epsilon=0.25, C=0.1 - Validation NRMSE: 15.3702 %
Modelo: grado=3, epsilon=0.25, C=1 - Validation NRMSE: 15.0913 %
Modelo: grado=3, epsilon=0.25, C=5 - Validation NRMSE: 15.2402 %
Modelo: grado=3, epsilon=0.25, C=10 - Validation NRMSE: 15.6141 %
Modelo: grado=3, epsilon=0.25, C=25 - Validation NRMSE: 15.7455 %
Modelo: grado=3, epsilon=0.25, C=50 - Validation NRMSE: 16.2116 %
Modelo: grado=3, epsilon=0.25, C=100 - Validation NRMSE: 16.7784 %
Modelo: grado=3, epsilon=0.5, C=0.1 - Validation NRMSE: 15.2897 %
Modelo: grado=3, epsilon=0.5, C=1 - Validation NRMSE: 14.9763 %
Modelo: grado=3, epsilon=0.5, C=5 - Validation NRMSE: 15.2043 %
Modelo: grado=3, epsilon=0.5, C=10 - Validation NRMSE: 15.4304 %
Modelo: grado=3, epsilon=0.5, C=25 - Validation NRMSE: 15.7168 %
Modelo: grado=3, epsilon=0.5, C=50 - Validation NRMSE: 16.2013 %
Modelo: grado=3, epsilon=0.5, C=100 - Validation NRMSE: 16.7994 %
Modelo: grado=3, epsilon=1, C=0.1 - Validation NRMSE: 15.245 %
Modelo: grado=3, epsilon=1, C=1 - Validation NRMSE: 15.0324 %
Modelo: grado=3, epsilon=1, C=5 - Validation NRMSE: 14.9387 %
Modelo: grado=3, epsilon=1, C=10 - Validation NRMSE: 14.8861 %
Modelo: grado=3, epsilon=1, C=25 - Validation NRMSE: 15.0562 %
Modelo: grado=3, epsilon=1, C=50 - Validation NRMSE: 15.6142 %
Modelo: grado=3, epsilon=1, C=100 - Validation NRMSE: 16.5721 %
Modelo: grado=3, epsilon=1.5, C=0.1 - Validation NRMSE: 15.2412 %
Modelo: grado=3, epsilon=1.5, C=1 - Validation NRMSE: 14.9299 %
Modelo: grado=3, epsilon=1.5, C=5 - Validation NRMSE: 14.7251 %
Modelo: grado=3, epsilon=1.5, C=10 - Validation NRMSE: 14.757 %
Modelo: grado=3, epsilon=1.5, C=25 - Validation NRMSE: 14.8215 %
Modelo: grado=3, epsilon=1.5, C=50 - Validation NRMSE: 15.4052 %
Modelo: grado=3, epsilon=1.5, C=100 - Validation NRMSE: 16.8698 %
Modelo: grado=5, epsilon=0.1, C=0.1 - Validation NRMSE: 15.7481 %
Modelo: grado=5, epsilon=0.1, C=1 - Validation NRMSE: 17.2733 %
Modelo: grado=5, epsilon=0.1, C=5 - Validation NRMSE: 17.4284 %
Modelo: grado=5, epsilon=0.1, C=10 - Validation NRMSE: 19.8652 %
Modelo: grado=5, epsilon=0.1, C=25 - Validation NRMSE: 22.7747 %
Modelo: grado=5, epsilon=0.1, C=50 - Validation NRMSE: 25.5825 %
Modelo: grado=5, epsilon=0.1, C=100 - Validation NRMSE: 27.4847 %
Modelo: grado=5, epsilon=0.25, C=0.1 - Validation NRMSE: 15.7727 %
Modelo: grado=5, epsilon=0.25, C=1 - Validation NRMSE: 17.0998 %
Modelo: grado=5, epsilon=0.25, C=5 - Validation NRMSE: 17.8318 %
Modelo: grado=5, epsilon=0.25, C=10 - Validation NRMSE: 20.3388 %
Modelo: grado=5, epsilon=0.25, C=25 - Validation NRMSE: 23.5524 %
Modelo: grado=5, epsilon=0.25, C=50 - Validation NRMSE: 25.7043 %
Modelo: grado=5, epsilon=0.25, C=100 - Validation NRMSE: 26.8937 %
Modelo: grado=5, epsilon=0.5, C=0.1 - Validation NRMSE: 15.6757 %
Modelo: grado=5, epsilon=0.5, C=1 - Validation NRMSE: 16.7637 %
Modelo: grado=5, epsilon=0.5, C=5 - Validation NRMSE: 18.0973 %
Modelo: grado=5, epsilon=0.5, C=10 - Validation NRMSE: 19.6272 %
Modelo: grado=5, epsilon=0.5, C=25 - Validation NRMSE: 23.1408 %
Modelo: grado=5, epsilon=0.5, C=50 - Validation NRMSE: 25.6974 %
Modelo: grado=5, epsilon=0.5, C=100 - Validation NRMSE: 28.4631 %
Modelo: grado=5, epsilon=1, C=0.1 - Validation NRMSE: 15.4668 %
Modelo: grado=5, epsilon=1, C=1 - Validation NRMSE: 15.9294 %
Modelo: grado=5, epsilon=1, C=5 - Validation NRMSE: 18.734 %
Modelo: grado=5, epsilon=1, C=10 - Validation NRMSE: 20.4156 %
Modelo: grado=5, epsilon=1, C=25 - Validation NRMSE: 20.6864 %
Modelo: grado=5, epsilon=1, C=50 - Validation NRMSE: 24.0055 %
Modelo: grado=5, epsilon=1, C=100 - Validation NRMSE: 30.1252 %
Modelo: grado=5, epsilon=1.5, C=0.1 - Validation NRMSE: 15.3531 %
Modelo: grado=5, epsilon=1.5, C=1 - Validation NRMSE: 15.0966 %
Modelo: grado=5, epsilon=1.5, C=5 - Validation NRMSE: 17.0121 %
Modelo: grado=5, epsilon=1.5, C=10 - Validation NRMSE: 19.0156 %
Modelo: grado=5, epsilon=1.5, C=25 - Validation NRMSE: 21.7894 %
Modelo: grado=5, epsilon=1.5, C=50 - Validation NRMSE: 25.2956 %
Modelo: grado=5, epsilon=1.5, C=100 - Validation NRMSE: 27.5655 %
Modelo: grado=6, epsilon=0.1, C=0.1 - Validation NRMSE: 17.3477 %
Modelo: grado=6, epsilon=0.1, C=1 - Validation NRMSE: 17.867 %
Modelo: grado=6, epsilon=0.1, C=5 - Validation NRMSE: 22.4748 %
Modelo: grado=6, epsilon=0.1, C=10 - Validation NRMSE: 25.1652 %
Modelo: grado=6, epsilon=0.1, C=25 - Validation NRMSE: 27.4872 %
Modelo: grado=6, epsilon=0.1, C=50 - Validation NRMSE: 26.3898 %
Modelo: grado=6, epsilon=0.1, C=100 - Validation NRMSE: 26.2515 %
Modelo: grado=6, epsilon=0.25, C=0.1 - Validation NRMSE: 17.2429 %
Modelo: grado=6, epsilon=0.25, C=1 - Validation NRMSE: 18.0723 %
Modelo: grado=6, epsilon=0.25, C=5 - Validation NRMSE: 22.9518 %
Modelo: grado=6, epsilon=0.25, C=10 - Validation NRMSE: 26.314 %
Modelo: grado=6, epsilon=0.25, C=25 - Validation NRMSE: 27.1289 %
Modelo: grado=6, epsilon=0.25, C=50 - Validation NRMSE: 30.6698 %
Modelo: grado=6, epsilon=0.25, C=100 - Validation NRMSE: 28.4658 %
Modelo: grado=6, epsilon=0.5, C=0.1 - Validation NRMSE: 16.5691 %
Modelo: grado=6, epsilon=0.5, C=1 - Validation NRMSE: 18.4402 %
Modelo: grado=6, epsilon=0.5, C=5 - Validation NRMSE: 22.4388 %
Modelo: grado=6, epsilon=0.5, C=10 - Validation NRMSE: 24.7414 %
Modelo: grado=6, epsilon=0.5, C=25 - Validation NRMSE: 29.0142 %
Modelo: grado=6, epsilon=0.5, C=50 - Validation NRMSE: 34.0601 %
Modelo: grado=6, epsilon=0.5, C=100 - Validation NRMSE: 32.4376 %
Modelo: grado=6, epsilon=1, C=0.1 - Validation NRMSE: 16.1759 %
Modelo: grado=6, epsilon=1, C=1 - Validation NRMSE: 18.4803 %
Modelo: grado=6, epsilon=1, C=5 - Validation NRMSE: 23.609 %
Modelo: grado=6, epsilon=1, C=10 - Validation NRMSE: 21.6386 %
Modelo: grado=6, epsilon=1, C=25 - Validation NRMSE: 27.2092 %
Modelo: grado=6, epsilon=1, C=50 - Validation NRMSE: 33.5534 %
Modelo: grado=6, epsilon=1, C=100 - Validation NRMSE: 32.4306 %
Modelo: grado=6, epsilon=1.5, C=0.1 - Validation NRMSE: 15.3551 %
Modelo: grado=6, epsilon=1.5, C=1 - Validation NRMSE: 17.3766 %
Modelo: grado=6, epsilon=1.5, C=5 - Validation NRMSE: 21.5944 %
Modelo: grado=6, epsilon=1.5, C=10 - Validation NRMSE: 24.2937 %
Modelo: grado=6, epsilon=1.5, C=25 - Validation NRMSE: 30.9062 %
Modelo: grado=6, epsilon=1.5, C=50 - Validation NRMSE: 32.8417 %
Modelo: grado=6, epsilon=1.5, C=100 - Validation NRMSE: 33.928 %
Modelo: grado=8, epsilon=0.1, C=0.1 - Validation NRMSE: 21.0533 %
Modelo: grado=8, epsilon=0.1, C=1 - Validation NRMSE: 23.3165 %
Modelo: grado=8, epsilon=0.1, C=5 - Validation NRMSE: 28.697 %
Modelo: grado=8, epsilon=0.1, C=10 - Validation NRMSE: 25.4851 %
Modelo: grado=8, epsilon=0.1, C=25 - Validation NRMSE: 19.9318 %
Modelo: grado=8, epsilon=0.1, C=50 - Validation NRMSE: 35.7765 %
Modelo: grado=8, epsilon=0.1, C=100 - Validation NRMSE: 33.5197 %
Modelo: grado=8, epsilon=0.25, C=0.1 - Validation NRMSE: 21.6203 %
Modelo: grado=8, epsilon=0.25, C=1 - Validation NRMSE: 25.471 %
Modelo: grado=8, epsilon=0.25, C=5 - Validation NRMSE: 27.8647 %
Modelo: grado=8, epsilon=0.25, C=10 - Validation NRMSE: 29.8987 %
Modelo: grado=8, epsilon=0.25, C=25 - Validation NRMSE: 20.5668 %
Modelo: grado=8, epsilon=0.25, C=50 - Validation NRMSE: 27.2505 %
Modelo: grado=8, epsilon=0.25, C=100 - Validation NRMSE: 25.2498 %
Modelo: grado=8, epsilon=0.5, C=0.1 - Validation NRMSE: 20.3382 %
Modelo: grado=8, epsilon=0.5, C=1 - Validation NRMSE: 27.7884 %
Modelo: grado=8, epsilon=0.5, C=5 - Validation NRMSE: 27.5066 %
Modelo: grado=8, epsilon=0.5, C=10 - Validation NRMSE: 39.1733 %
Modelo: grado=8, epsilon=0.5, C=25 - Validation NRMSE: 30.7725 %
Modelo: grado=8, epsilon=0.5, C=50 - Validation NRMSE: 23.1274 %
Modelo: grado=8, epsilon=0.5, C=100 - Validation NRMSE: 26.5538 %
Modelo: grado=8, epsilon=1, C=0.1 - Validation NRMSE: 21.3567 %
Modelo: grado=8, epsilon=1, C=1 - Validation NRMSE: 33.5068 %
Modelo: grado=8, epsilon=1, C=5 - Validation NRMSE: 23.8587 %
Modelo: grado=8, epsilon=1, C=10 - Validation NRMSE: 47.0624 %
Modelo: grado=8, epsilon=1, C=25 - Validation NRMSE: 37.3215 %
Modelo: grado=8, epsilon=1, C=50 - Validation NRMSE: 41.3715 %
Modelo: grado=8, epsilon=1, C=100 - Validation NRMSE: 35.445 %
Modelo: grado=8, epsilon=1.5, C=0.1 - Validation NRMSE: 18.5086 %
Modelo: grado=8, epsilon=1.5, C=1 - Validation NRMSE: 27.1962 %
Modelo: grado=8, epsilon=1.5, C=5 - Validation NRMSE: 40.0165 %
Modelo: grado=8, epsilon=1.5, C=10 - Validation NRMSE: 52.5727 %
Modelo: grado=8, epsilon=1.5, C=25 - Validation NRMSE: 52.0401 %
Modelo: grado=8, epsilon=1.5, C=50 - Validation NRMSE: 45.6251 %
Modelo: grado=8, epsilon=1.5, C=100 - Validation NRMSE: 41.7648 %
Modelo: grado=10, epsilon=0.1, C=0.1 - Validation NRMSE: 24.6314 %
Modelo: grado=10, epsilon=0.1, C=1 - Validation NRMSE: 33.4731 %
Modelo: grado=10, epsilon=0.1, C=5 - Validation NRMSE: 19.7504 %
Modelo: grado=10, epsilon=0.1, C=10 - Validation NRMSE: 74.8188 %
Modelo: grado=10, epsilon=0.1, C=25 - Validation NRMSE: 129.4132 %
Modelo: grado=10, epsilon=0.1, C=50 - Validation NRMSE: 156.7903 %
Modelo: grado=10, epsilon=0.1, C=100 - Validation NRMSE: 178.7287 %
Modelo: grado=10, epsilon=0.25, C=0.1 - Validation NRMSE: 25.2172 %
Modelo: grado=10, epsilon=0.25, C=1 - Validation NRMSE: 28.633 %
Modelo: grado=10, epsilon=0.25, C=5 - Validation NRMSE: 19.8986 %
Modelo: grado=10, epsilon=0.25, C=10 - Validation NRMSE: 49.3661 %
Modelo: grado=10, epsilon=0.25, C=25 - Validation NRMSE: 88.6342 %
Modelo: grado=10, epsilon=0.25, C=50 - Validation NRMSE: 106.9797 %
Modelo: grado=10, epsilon=0.25, C=100 - Validation NRMSE: 108.668 %
Modelo: grado=10, epsilon=0.5, C=0.1 - Validation NRMSE: 28.8911 %
Modelo: grado=10, epsilon=0.5, C=1 - Validation NRMSE: 33.9331 %
Modelo: grado=10, epsilon=0.5, C=5 - Validation NRMSE: 33.2654 %
Modelo: grado=10, epsilon=0.5, C=10 - Validation NRMSE: 22.4673 %
Modelo: grado=10, epsilon=0.5, C=25 - Validation NRMSE: 34.6904 %
Modelo: grado=10, epsilon=0.5, C=50 - Validation NRMSE: 26.2292 %
Modelo: grado=10, epsilon=0.5, C=100 - Validation NRMSE: 38.3333 %
Modelo: grado=10, epsilon=1, C=0.1 - Validation NRMSE: 39.6824 %
Modelo: grado=10, epsilon=1, C=1 - Validation NRMSE: 19.4629 %
Modelo: grado=10, epsilon=1, C=5 - Validation NRMSE: 81.1963 %
Modelo: grado=10, epsilon=1, C=10 - Validation NRMSE: 76.3757 %
Modelo: grado=10, epsilon=1, C=25 - Validation NRMSE: 82.6799 %
Modelo: grado=10, epsilon=1, C=50 - Validation NRMSE: 66.8649 %
Modelo: grado=10, epsilon=1, C=100 - Validation NRMSE: 30.6391 %
Modelo: grado=10, epsilon=1.5, C=0.1 - Validation NRMSE: 27.1926 %
Modelo: grado=10, epsilon=1.5, C=1 - Validation NRMSE: 40.4656 %
Modelo: grado=10, epsilon=1.5, C=5 - Validation NRMSE: 99.8451 %
Modelo: grado=10, epsilon=1.5, C=10 - Validation NRMSE: 108.2449 %
Modelo: grado=10, epsilon=1.5, C=25 - Validation NRMSE: 90.6574 %
Modelo: grado=10, epsilon=1.5, C=50 - Validation NRMSE: 62.8658 %
Modelo: grado=10, epsilon=1.5, C=100 - Validation NRMSE: 36.104 %

In [42]:
top5 = pd.DataFrame(resultadosL)
top5.describe()

       Validation NRMSE
count        245.000000
mean          26.113926
std           22.132417
min           13.960003
25%           15.091288
50%           18.097262
75%           27.250479
max          178.728707

In [43]:
top5 = top5.nsmallest(5, "Validation NRMSE")
top5

                                            model  Validation NRMSE
0    LinearSVR(C=0.1, epsilon=0.1, max_iter=2000)         13.960003
7   LinearSVR(C=0.1, epsilon=0.25, max_iter=2000)         14.137359
1      LinearSVR(C=1, epsilon=0.1, max_iter=2000)         14.183798
8     LinearSVR(C=1, epsilon=0.25, max_iter=2000)         14.183991
17    LinearSVR(C=10, epsilon=0.5, max_iter=2000)         14.189344

In [44]:
top5L = top5.values.tolist()
top5L

[[LinearSVR(C=0.1, epsilon=0.1, max_iter=2000), 13.960002645163472],
 [LinearSVR(C=0.1, epsilon=0.25, max_iter=2000), 14.137359134221029],
 [LinearSVR(C=1, epsilon=0.1, max_iter=2000), 14.183797642377497],
 [LinearSVR(C=1, epsilon=0.25, max_iter=2000), 14.183990635763555],
 [LinearSVR(C=10, epsilon=0.5, max_iter=2000), 14.1893438252587]]

In [45]:
for elemento in top5L:
    modelo = elemento[0]
    y_pred = modelo.predict(X_test)
    
    rmse = np.sqrt(np.mean(np.square(y_test - y_pred)))
    nrmse = (rmse / (y_train.max() - y_train.min())) * 100
    print("Test NRMSE:", round(nrmse,4), '%')

Test NRMSE: 14.7178 %
Test NRMSE: 14.6895 %
Test NRMSE: 14.8754 %
Test NRMSE: 14.4117 %
Test NRMSE: 14.407 %

In [46]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(top5L[-1][0], open(filename, 'wb'))